<a href="https://colab.research.google.com/github/2101100/-2101100-/blob/main/%EB%82%98%ED%95%9C%EC%84%B11%EA%B0%95(%EC%88%98%EC%A0%95).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1강**

In [ ]:
def greet():
  print("hello world")

In [ ]:
greet()

hello world

들여 쓰기 필수

In [ ]:
def add(a,b):
  c=a+b
  return c

In [ ]:
add(3,5)

8

In [ ]:
def multiply(a,b):
  c=a*b
  return c

In [ ]:
multiply(3,5)

15

In [ ]:
def greet2(name):
  print('반갑습니다.',name)
  print(name,'님은 파이썬의 세계로 오셨습니다.')

In [ ]:
greet2('한성')

반갑습니다. 한성
한성 님은 파이썬의 세계로 오셨습니다.

() 안에 '' , "" 를 이용하여 문자를 입력할수 있음. = srting type

() 안의 내용을 매개변수 parameter 라고 한다.

In [ ]:
def greet2(name):
  print("반갑습니다.",name)
  print(name,"님은 파이썬의 세계로 오셨습니다.")
inputName='한성'
greet2(inputName)

반갑습니다. 한성
한성 님은 파이썬의 세계로 오셨습니다.

In [ ]:
def adder(num1,num2):
  sum=num1+num2
  print('덧셈결과:',num1+num2)

덧셈결과: 3

In [ ]:
adder(10,5)

덧셈결과: 15

In [ ]:
sum

1. 함수 안의 변수를 함수 밖에서 실행 할 수 없다.
지역변수는 전역변수로 도출이 안된다.
2. 함수가 끝남과 동시에 sum 변수가 메모리에서 없어진다.

In [ ]:
def adder(num1,num2):
  sum=num1+num2
  return sum

In [ ]:
adder(10,5)

15

In [ ]:
result=adder(10,5)
print(result)

15

호출 순서
1. num1=5, num2=10
2. sum=num1+num2
3. result=sum
4. 함수의 종류 이후에 함수 안의 sum 변수는 메모리에서 접근이 불가능 하게 됨

In [ ]:
def adder(num1,num2):
  sum=num1+num2
  return sum
def main():
  print(adder(5,3))
main()

8

In [ ]:
max(2,3,4) #최댓값을 반환한다

4

In [ ]:
min(2,3,4) #최솟값을 반환한다

2

In [ ]:
round(3.51) #가장 가까운 정수로 근사한다

4

In [ ]:
round(3,4)

3

In [ ]:
round(3.1234,2) #소수점 둘쨰 자리까지 근사

3.12

In [ ]:
abs(-3) #절댓값을 반환한다

3

In [ ]:
pow(2,3) #2^3

8

In [ ]:
10%3 #나머지

1

In [ ]:
result=eval(input("뭐든 넣어요:"))

뭐든 넣어요:2-4*5+3

In [ ]:
result

-15

In [ ]:
def ret():
  return 12
result=eval(input("뭐든 넣어요:"))

뭐든 넣어요:ret()

In [ ]:
print(result)

12